In [ ]:
x=4
x

In [ ]:
X # Error as python is case sensitive

In [ ]:
# String variable - You can use single quotes or double quotes. Both are fine.
string1 = 'This is a text or string variable'
string1

In [9]:
string2 = "This is a text or string variable'

SyntaxError: unterminated string literal (detected at line 1) (2796957155.py, line 1)

In [2]:
name = 'John'

In [3]:
name

'John'

In [4]:
a1 = 5

In [7]:
2aaaa123 = 5

SyntaxError: invalid decimal literal (836433801.py, line 1)

# Numeric Data and Operations

In [10]:
x=2
y=10

In [11]:
x

2

In [12]:
y

10

In [16]:
x*y

20

In [17]:
x+y
x-y
x/y
x*y

20

In [18]:
print(x+y)
print(x-y)
print(x/y)
print(x*y)

12
-8
0.2
20

# Library

In [ ]:
!pip install math

In [19]:
import math

In [21]:
?math.cos

In [23]:
math.sqrt(100)

10.0

# Data Analysis

+ Mean, median, mode, sd, range, IQR

In [ ]:
!pip install pandas

In [24]:
import pandas as pd

In [25]:
bd = pd.read_csv('Carseats.csv')

In [26]:
bd.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [27]:
bd.shape

(400, 11)

Sales: Unit sales (in thousands) at each location

CompPrice: Price charged by competitor at each location

Income: Community income level (in thousands of dollars)

Advertising: Local advertising budget for company at each location (in thousands of dollars)

Population: Population size in region (in thousands)

Price: Price company charges for car seats at each site

ShelveLoc: A factor with levels Bad, Good and Medium indicating the quality of the shelving location for the car seats at each site. <br>
    - Bad: Poor shelving location (e.g., low visibility or accessibility). <br>
    - Medium: Average shelving location. <br>
    - Good: Prime shelving location (e.g., highly visible and easily accessible). <br>

Age: Average age of the local population

Education: Education level at each location

Urban: A factor with levels No and Yes to indicate whether the store is in an urban or rural location

US: A factor with levels No and Yes to indicate whether the store is in the US or not

In [ ]:
bd.head()

In [28]:
# Dataframe summary: only numeric columns
bd.describe(include = "all")

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400,400.000000,400.000000,400,400
unique,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,2,2
top,NaN,NaN,NaN,NaN,NaN,NaN,Medium,NaN,NaN,Yes,Yes
freq,NaN,NaN,NaN,NaN,NaN,NaN,219,NaN,NaN,282,258
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,NaN,53.322500,13.900000,NaN,NaN
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,NaN,16.200297,2.620528,NaN,NaN
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,NaN,25.000000,10.000000,NaN,NaN
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,NaN,39.750000,12.000000,NaN,NaN
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,NaN,54.500000,14.000000,NaN,NaN
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,NaN,66.000000,16.000000,NaN,NaN
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,NaN,80.000000,18.000000,NaN,NaN