In [9]:
import pandas as pd

In [10]:
data = pd.read_csv('cars.csv',encoding='ISO-8859-1')

In [24]:
print(data.head())

               Model   mpg  cyl   disp     hp  drat     wt   qsec   vs   am  \
0          Mazda RX4  21.0  6.0  160.0  110.0  3.90  2.620  16.46  0.0  1.0
1      Mazda RX4 Wag  21.0  6.0  160.0  110.0  3.90  2.875  17.02  0.0  1.0
2         Datsun 710  22.8  4.0  108.0   93.0  3.85  2.320  18.61  1.0  1.0
3     Hornet 4 Drive  21.4  6.0  258.0  110.0  3.08  3.215  19.44  1.0  0.0
4  Hornet Sportabout  18.7  8.0  360.0  175.0  3.15  3.440  17.02  0.0  0.0

   gear  carb
0   4.0   4.0
1   4.0   4.0
2   4.0   1.0
3   3.0   1.0
4   3.0   2.0

In [46]:
data.describe(include = "all")

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,33,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
unique,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Mazda RX4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,NaN,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,NaN,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,NaN,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,NaN,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,NaN,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,NaN,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [26]:
print(data.shape)

(33, 12)

In [28]:
rows , cols = data.shape

print(f"Number of rows:{rows}")
print(f"Number of columns:{cols}")

In [16]:
print("Test Output")

Test Output

In [30]:
x = 5

In [32]:
x

5

In [34]:
x + 2

7

In [36]:
String = " Hello"

In [38]:
String

' Hello'

In [40]:
import math

In [42]:
math.sqrt(10)

3.1622776601683795